div(className=styles.wrapper)
  section(className=styles.sidebar)
    h1 UI Fun
    ul
      li Link
      li Link
      li Link
  section(className=styles.content)
    for component, i in components
      div(key=i className=styles.component)
        #{component}